<div class="container">
  <form class="mt-4" #loginForm="ngForm" (ngSubmit)="loginUser(user)" novalidate>
    <div class="mb-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" #emailModel="ngModel" [(ngModel)]="user.email"
        placeholder="Email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')" />
      <div class="invalid-feedback" *ngIf="emailModel.errors?.['required']">
        Your email is required to be able to login.
      </div>

      <div class="invalid-feedback" *ngIf="emailModel.errors?.['pattern']">
        A correct Email format is required to be able to login.
      </div>
    </div>

    <div class="mb-3">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" #passwordModel="ngModel"
        [(ngModel)]="user!.password" placeholder="Password" required
        [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')" />
      <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
        Your password is required to be able to login.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
